<div class ="deneme">
  <!--  <div style="background-size: 100%;" [ngStyle]="{backgroundImage:'url(./assets/images/brandenburgertor.jpg)'}" >-->
<!--  <div style="background-size: 1550px 800px;" [ngStyle]="{backgroundImage:'url(./assets/images/brandenburgertor.jpg)'}" >-->
    <div class="mainbackground">

      <div class="container">

        <!--  <img src="assets/images/brandenburgertor.jpg" width="1600" height="800">-->
        <div class="main">
<!--          <img src="assets/images/babas.png" width="100" height="100">-->

<!--          <div class="center">-->
<!--            <div class="container">-->
<!--              &lt;!&ndash;                <li (click)="toHome()"><b><a href="#home">Start</a></b></li>&ndash;&gt;-->
<!--              <li><b><a routerLink="/home-component"  routerLinkActive="active" ariaCurrentWhenActive="page">ABOUT</a></b></li>-->
<!--              &lt;!&ndash;                <li><b><a routerLink="/ueberuns-component"  routerLinkActive="active" ariaCurrentWhenActive="page">Über uns</a></b></li>&ndash;&gt;-->
<!--              <li><b><a routerLink="/ueberuns-component"  routerLinkActive="active" ariaCurrentWhenActive="page">PROCEDURE</a></b></li>-->
<!--              &lt;!&ndash;                <li><a routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page">First Component</a></li>&ndash;&gt;-->
<!--              <li><b><a href="#leinstungen">PATIENT EXPERIENCsE</a></b></li>-->
<!--              <li><b><a href="#faq">CONDITIONS</a></b></li>-->
<!--              <li><b><a href="#contact">TREATMENTS</a></b></li>-->
<!--            </div>-->
<!--          </div>-->
        </div>
        <main>
        <router-outlet></router-outlet>
        </main>
      </div>

    </div>

<!--  </div>-->

</div>

