
<nav class="navbar navbar-expand-lg navbar-wrapper">

  <!--<ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a href="whatsapp://send?abid=phonenumber&text=Hello%2C%20World!"> <img src="assets/icons/whatsapp.png"></a>
      <br>
      <a href="mailto:myemailaddress@gmail.com"> <img src="assets/icons/email.png"> </a>

    </li>
  </ul>-->
  <a class="navbar-brand" href="#">
    <a href="#home" class="active"><img src="assets/images/pureathleticss.png" width="400" height="30" ></a>
  </a>
  <button class="navbar-toggler" type="button"
          (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse"
       [ngClass]="{ 'show': navbarOpen }">

  </div>
  <div class="collapse navbar-collapse flex-end"
       [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/start-component" routerLinkActive="active" ariaCurrentWhenActive="page">STARTSEITE</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/uberuns-component"  routerLinkActive="active" ariaCurrentWhenActive="page">ÜBER UNS</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/referenzen-component"  routerLinkActive="active" ariaCurrentWhenActive="page">REFERENZEN</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/leistungen-component"  routerLinkActive="active" ariaCurrentWhenActive="page">LEISTUNGEN</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/contact-component"  routerLinkActive="active" ariaCurrentWhenActive="page">KONTAKFORMULAR</a>
      </li>

      <!--<li class="nav-item">
      <a href="whatsapp://send?abid=phonenumber&text=Hello%2C%20World!"> <img src="assets/icons/whatsapp.png"></a>
        <br>
        <a href="mailto:myemailaddress@gmail.com"> <img src="assets/icons/email.png"> </a>
      </li>

      <br>
      <li class="nav-item" style="text-align:right">
      <a href="mailto:myemailaddress@gmail.com"> <img src="assets/icons/email.png"> </a>
      </li>-->
    </ul>
    <a routerLink="/ueberuns-component"  routerLinkActive="active" ariaCurrentWhenActive="page"><button class="button button5" >MEHR ERFAHREN</button></a>
  </div>
</nav>
