<div class="topbar">
<!--  <a href="whatsapp://send?abid=phonenumber&text=Hello%2C%20World!"> <img src="assets/icons/whatsapp.png"></a>-->
<!--  <a href="mailto:myemailaddress@gmail.com"> <img src="assets/icons/email.png"> </a>-->
  <div class="navcenter">
    <li><a routerLink="/start-component" routerLinkActive="active" ariaCurrentWhenActive="page">STARTSEITE</a></li>
    <li><b><a routerLink="/uberuns-component"  routerLinkActive="active" ariaCurrentWhenActive="page">ÜBER UNS</a></b></li>
    <li><b><a routerLink="/referenzen-component"  routerLinkActive="active" ariaCurrentWhenActive="page">REFERENZEN</a></b></li>
    <li><b><a routerLink="/fithsection-component"  routerLinkActive="active" ariaCurrentWhenActive="page">LEISTUNGEN</a></b></li>
    <li><b><a routerLink="/secondsection-component"  routerLinkActive="active" ariaCurrentWhenActive="page">KONTAKFORMULAR</a></b></li>
</div>
</div>
